/* Some sensible typographic defaults - you should absolutely edit these */

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    text-rendering: optimizeLegibility;
}

p, blockquote, ul, ol, dl, h1, h2, h3, h4, h5 {
    margin-bottom: 1.5em;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}